.Mainlayout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.AppGlass {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 100vw;
  border-radius: 2rem;
  background-color: var(--glass);
  /* overflow: hidden; */
  /* grid-template-columns: 13rem auto; */
  scroll-behavior: auto;
  /* gap: 10px; */
  /* margin-right: 2rem;
  padding-right: 3rem; */
}

@media screen and (max-width: 1000px) {
  .AppGlass {
    flex-direction: column;
  }
}

@media screen and (min-width: 1000px) {
  .side_parent {
    min-width: 15vw;
  }
  .main_parent{
    max-width: 85vw;
    width: 85vw;
  }
}
