*,
::after,
::before {
  box-sizing: content-box !important;
}

:root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --pink: #ff919d;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;

  margin: 0;
}

.form-control {
  box-shadow: none;
  border-color: var(--color-ced4da);
}

.App {
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  /* height: 100vh; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.scrolling {
  overflow-y: scroll;
  height: 90%;
  transition: all 300ms ease;
  scroll-behavior: smooth;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent;
  padding-bottom: 5rem; /* Firefox */

  /* Hide scrollbar for Chrome, Safari, and Opera */
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
/* .form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 0.5rem 1rem !important;
} */
.upperdiv {
  padding: 3rem 3.6rem 3rem 3rem;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 0.5rem 0.75rem !important;
}
