.addproduct {
  overflow: auto;
  height: 100%;
  transition: all 300ms ease;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 25px;
}

.form > div {
  border-bottom: 5px solid gray;
  padding-bottom: 25px;
  width: 100%;
}

.form_row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}
.form_row div {
  width: 48%;
}

.form_product_policy div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.form_product_policy div div{
  width: 48%;
}
/* .form_product_policy .form_product_policy_rules {

} */


